<div class="hero-unit">
  <h1>ACTIE</h1>
  <p>Connect Brands to People<br><br><br></p>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span12" style="text-align: center">
      <a href="/#/buy/1" class="btn btn-large btn-success" type="button">Buy your favarite stock</a>
    </div>
  </div>
  <br>
  <div class="row-fluid">
    <div class="span4">
      <h2>Feature1</h2>
        <ul>
          <li ng-repeat="thing in awesomeThings">{{thing}}</li>
        </ul>
    </div>
    <div class="span4"><h2>Feature2</h2></div>
    <div class="span4"><h2>Feature3</h2></div>
  </div>
</div>
